{{#get "posts" limit="4" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
{{#if related}}
    <section class="c-related" aria-label="Artículos relacionados">
        <div class="c-container">
            <h3 class="c-section-title">También te puede interesar</h3>
            <ol class="c-post-list" role="list">
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            </ol>
        </div>
    </section>
{{/if}}
{{/get}}
